/*----------fælles(1-150)----------*/
body {
    margin: 0;
    box-sizing: border-box;
    /*    overflow: hidden;*/


}

img {
    /*width: 100%;*/
}

/*---------Tekst style---------*/

/*
a {
    visibility: hidden;
}
*/



h1 {
    /*    position: absolute;*/
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    font-size: 1.3rem;
    text-align: center;
    font-weight: 300;
    /*    left: 40vw;*/
}



h2 {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.3em;
    font-size: 1.4rem;
    text-align: center;
    margin-top: 3rem;
    font-weight: 300;
}

h3 {
    font-family: 'Lato', sans-serif;
    font-size: 1.05rem;
    letter-spacing: 0.05em;
    font-weight: bold;
    font-weight: 300;
}

p {
    font-family: 'Lato', sans-serif;
    font-size: 1rem;
    letter-spacing: 0.05em;
    font-weight: 300;
}

.line_space {
    line-height: 2;
}

/*---------Tekst style SLUT---------*/

/*---------Header design---------*/

/*---------Header design SLUT---------*/

/*---------Button design---------*/

button {
    font-family: 'Poppins', sans-serif;
    border: none;
    font-size: 0.8rem;
    background: none;

    /*----hvordan fjerne jeg margin så det kun er når jeg trykker på teksten----*/

    /* så den sidder centret på siden*/
    display: block;
    margin: 0 auto;
}

button:hover {
    color: #A25F67;
}


/*gør så der ikke er nogle line under <a href="">*/
a {
    text-decoration: none;



}

/*---------Button design SLUT---------*/













.sectionwrapper {}

#landingpage .logo {
    background-image: url(img/logo/NW_Gallery_center_big_white.png);
    position: absolute;
    background-size: cover;
    width: 65vw;
    height: 18vh;
    left: 15vw;
    top: 15vw;
}

#landingpage .sectionwrapper {
    /*    display: table;*/
    /*    position: sticky;*/





}

#landingpage .skew_grey {
    position: relative;

    /*    transform: skewY(-5deg);*/
    background-color: #e6e6e6;
    width: 100%;
    height: 250px;
    /*    top: -100px;*/
    z-index: -1;
}

#landingpage .skew_grey1 {
    position: relative;
    transform: skewY(-5deg);
    background-color: #e6e6e6;
    width: 100%;
    height: 33px;
    top: -4.5vw;
}





#landingpage h1 {
    position: relative;
    top: -13.5vw;
}

#store .skew_grey {
    position: relative;
    transform: skewY(-5deg);
    background-color: #e6e6e6;
    width: 100vw;
    height: 600px;
    /*    top: -100px;*/
    z-index: -1;
}

#store .top .col {
    background-image: url(billeder/svampebob.png);
    background-size: cover;
    width: 300px;
    height: 300px;
}

#books .top .col {
    background-image: url(billeder/svampebob.png);
    background-size: cover;
    width: 300px;
    height: 300px;
}

#workshops .col_top {
    background-image: url(billeder/svampebob.png);
    background-size: cover;
    width: 300px;
    height: 300px;
}

#about .top .col {
    background-image: url(billeder/svampebob.png);
    background-size: cover;
    width: 300px;
    height: 300px;
}

#workshops .skew_grey {
    position: relative;
    transform: skewY(-5deg);
    background-color: #e6e6e6;
    width: 100vw;
    height: 600px;
    /*    top: -100px;*/
    z-index: -1;
}

#footer .skew_grey {
    position: relative;
    transform: skewY(-5deg);
    background-color: #e6e6e6;
    width: 100vw;
    height: 600px;
    /*    top: -100px;*/
    z-index: -1;


}



#news .skew_white {
    position: relative;
    transform: skewY(-5deg);
    background-color: #ffffff;
    width: 100%;

    height: 1px;
    z-index: -1;

}

#news .col {
    background-image: url(img/FB_CLOSE_Flyer.jpg);
    position: relative;
    background-size: cover;
    width: 65vw;
    height: 18vh;
    margin-left: auto;
    margin-right: auto;
}

#books .skew_white {
    position: relative;
    transform: skewY(-5deg);
    background-color: #ffffff;
    width: 100vw;
    height: 600px;
    /*    top: -100px;*/
    z-index: -1;
}

#about .skew_white {
    position: relative;
    transform: skewY(-5deg);
    background-color: #ffffff;
    width: 100vw;
    height: 600px;
    /*    top: -100px;*/
    z-index: -1;
}

#news,
#store,
#books,
#workshops,
#about,
#footer {
    position: relative;
    /*    margin: 10vw;*/
}

/*
#news .skew {
    position: absolute;
    transform: skewY(-5deg);
    background-color: #f41414;

    width: 100vw;
    height: 100%;

        top: -100px;




    z-index: -1;

}
*/

/*
p {
    position: absolute;
}
*/



/*
#store .skew {

    position: absolute;
    transform: skewY(-5deg);
    background-color: skyblue;
    ;

    width: 100vw;

    height: 100%;
    z-index: -1;

    position: relative;
    transform: skewY(-5deg);
    background-color: aqua;
    width: 1920px;
    height: 600px;
    top: -100px;



}
*/


/*----------fælles slut (1-150)----------*/




/*----------Jeppe (151-300)----------*/




















































































































































/*----------Jeppe slut (151-300)----------*/
/*----------Maja (301-450)----------*/























































































.sectionskewed {

    position: relative;
    overflow: hidden;
    height: 100%;
    background: #F3F3F3;
    -webkit-transform: translateY(100%);
    -ms-transform: translateY(100%);
    transform: translateY(100%);
}






























































/*----------Maja Slut (301-450)----------*/
/*----------Oliver (451-600)----------*/



















































































































































/*----------Oliver Slut (451-600)----------*/
/*----------Josefine (601-750)----------*/




















































































































































/*----------Oliver Slut (601-750)----------*/

@media only screen and (min-width: 760px) {

    a {
        visibility: visible;
    }

    header {
        font-family: 'Lato', sans-serif;

        font-size: 0.8rem;
        background-color: white;
        height: 4rem;
        text-align: center;
        font-weight: 400;

    }

    header nav {
        /*display: flex;
    flex-direction: column;
    align-items: flex-end;
    */
        padding-top: 1.2rem;

    }

    /*  så logoet og teksten kan blive delt op i headeren*/
    header nav a {
        font-size: 1.2rem;
        padding: 0.5rem;
        text-transform: uppercase;


        color: black;
    }

    header nav a:hover {
        color: #A25F67
    }

    header nav b {
        font-size: 1.2rem;
        padding: 0.5rem;
        text-transform: uppercase;



        color: black;
    }

    header nav b:hover {
        color: #A25F67
    }


    /*header nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 17px;
}*/
}
